<div class="container">
  <div class="panel">
    <h1>Keystle OAuth2</h1>
    
    <div class="button-group">
      <button (click)="login()">Login com Keystle</button>
      <button *ngIf="token" id="copyTokenButton" (click)="copyToken()">Copy Token</button>
      <!-- <button *ngIf="token" (click)="getUsers()">Listar Usuários</button> -->
      <button *ngIf="token" (click)="logout()">Logout</button>
    </div>

    <div *ngIf="users">
      <h2>Usuários:</h2>
      <pre>{{ users | json }}</pre>
    </div>

    <div *ngIf="token">
      <h2>Token:</h2>
      <div class="token-container">
        <p>{{token}}</p>
      </div>
    </div>

    <div *ngIf="error">
      <p class="error-message">{{ error }}</p>
    </div>
  </div>
</div>